# Dependencies
/node_modules

# Logs
/logs
/logs_dps.json
dist/logs/

# Build output
/dist
/out
player_registry.json

# Vite cache
.vite/
.vite-inspect/

# TypeScript
*.tsbuildinfo
*.js.map
*.d.ts.map

# Misc
.npmrc
/Prerequisites/npcap-1.83.exe
pnpm-lock.yaml

# Electron packaged output
dist_electron/
